@import "config";
@import "resets";
@import "variables";
@import "buttons";

.app-container {
    background-image: url("/images/pattern-bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 30vh;
    @include tablet{
        height: 25vh;
    }
    @include large{
        height: 20vh;
    }
    & .form-container {
        padding: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        & .ip-header {
            color: white;
            margin-bottom: 15px;
        }
        & .search-bar {
            display: flex;
            & .form-outline {
                display: flex;
            }
            & #search-ip{
                cursor: pointer;

            }
        }
    }
}
.modal-wrapper {
    z-index: 9999;
    display: block;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    // height: 275px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    @include tablet{
        top: 30%;
    }
    @include large {
        top: 23%;
        width: 65%;
        // height: 93px;
    }
    @include desktop{
        top: 28%;
    }
    & .modal-inner {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        height: 100%;
        padding: 15px;
        flex: 1;
        @include large {
            flex-direction: row;
            & .modal-item-wrapper {
                padding: 15px 25px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;
                & #ip-time::before{
                    content: 'GMT ';
                }
            }
            & .modal-item-wrapper:not(:last-child) {
                border-right: 2px solid $darkGrey;
                height: 70%;
            }
        }
    }
    & .list-group-modal-item {
        font-size: $fontSize * 0.9;
        font-weight: weight(normal);
        color: $darkGrey;
    }
    & .ip_details {
        font-size: $fontSize;
        font-weight: weight(bold);
    }
}
.map-container {
    width: 100%;
    height: 80vh;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
