@import "config";
@import "resets";
@import "variables";
@import "buttons";

.app-container {
    background-image: url('/images/pattern-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    & .form-container{
        padding: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        & .ip-header {
            color: white;
            margin-bottom: 30px;
        }
        & .search-bar{
            display: flex;
            & .form-outline{
                display: flex;
                & #search-button {
                    cursor: pointer;
                }
            }
        }
    }
}
.modal-wrapper{
    z-index: 9999;
    display: block;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 183px;
    background-color: white;
    border-radius: 10px;
    @include tablet{
        
        width: 40%;
        height: 113px;
    }
    & .modal-inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 20px;
        @include tablet{
            flex-direction: row;
        }
        & .modal-group{
            padding: 5px;
        }
    }

}
.map-container {
    width: 100%;
    height: 70vh;
    
    
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
