@import "config";
@import "resets";
@import "variables";
@import "buttons";

.app-container {
    background-image: url('/images/pattern-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 25vh;
    & .form-container{
        padding: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        & .ip-header {
            color: white;
            margin-bottom: 30px;
        }
        & .search-bar{
            display: flex;
            & .form-outline{
                display: flex;
                & #search-button {
                    cursor: pointer;
                }
            }
        }
    }
}
.modal-wrapper{
    z-index: 9999;
    display: block;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 275px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    @include large{
        top: 30%;
        width: 65%;
        height: 113px;
    }
    & .modal-inner{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        height: 100%;
        @include large{
            flex-direction: row;
            & .modal-item-wrapper:not(:last-child){
                border-right: 2px solid $darkGrey;
                padding: 15px;
                height: 70%;
            }
        }
        & .modal-item-wrapper{
            padding: 5px;
            

            & .list-group-modal-item{
                font-size: $fontSize *.9;
                font-weight: weight(normal);
                color: $darkGrey;
            }
            
            & .ip_details {
                font-size: $fontSize;
                font-weight: weight(bold);
            }
        }
    }

}
.map-container {
    width: 100%;
    height: 80vh;
    
    
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
