@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
* {
  padding: 0;
  border: 0;
}

html {
  box-sizing: border-box;
  height: auto;
  width: auto;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", Helvetica, sans-serif;
  min-height: 100vh;
  font-size: 18px;
  background-color: white;
  overflow-x: hidden;
}

.container-color {
  background-image: url("/images/pattern-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-color .ip-header {
  color: white;
  margin: 40px;
}

.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

#mapid {
  height: 180px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
